<nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
                <i class="fa fa-bars"></i>
            </button>
        </div>

        <div class="collapse navbar-collapse navbar-right navbar-main-collapse">
            <ul class="nav navbar-nav">
                <!-- Hidden li included to remove active class from about link when scrolled up past about section -->
                <li class="hidden">
                    <a href="#page-top"></a>
                </li>
                <li>
                    <a class="page-scroll" href="#about">About</a>
                </li>
                <li>
                    <a class="page-scroll" href="#pictures">Pictures</a>
                </li>
                <li>
                    <a class="page-scroll" href="#contact">Contact</a>
                </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container -->
</nav>

<!-- Intro Header -->
<header class="intro">
    <div class="intro-body">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <h1 class="brand-heading name">Ravi Patel</h1>
                    <p class="intro-text">
                      Software Quality Assurance Engineer
                      <br> 
                      <a href="http://www.bazaarvoice.com">Bazaarvoice Inc.</a>
                    </p>
                    <a href="#about" class="btn btn-circle page-scroll">
                        <i class="fa fa-angle-double-down animated"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</header>

<!-- About Section -->
<section id="about" class="container-fluid content-section text-center">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
            <h2>About Me</h2>
            <p>Recently graduated from <a href="http://www.uwaterloo.ca">University of Waterloo</a> and currently working as Software Quality Assurance Engineer at <a href="http://www.bazaarvoice.com">Bazaarvoice</a> in Austin, Tx</p>
        </div>
    </div>
</section>
<!-- Empty Section -->
<section id="about" class="container-fluid content-section text-center">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
        </div>
    </div>
</section>

<!-- Picture Section -->
<section id="pictures" class="  content-section text-center">
    <!-- <div class="picture-section"> -->
    <div class="row picture-section">
        <div class="container-fluid">
            <div class="col-lg-8 col-lg-offset-2">
                <h2 class="picture-title">Pictures</h2>
                <p class="picture-paragraph">Photography has always been a hobby of mine and I would like to share some of my memories with you</p>
                <a href="/pictures" class="btn btn-default btn-lg">Visit Pictures Page</a>
            </div>
        </div>
    </div>
</section>
<!-- Empty Section -->
<section id="about" class="container-fluid content-section text-center">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
        </div>
    </div>
</section>

<!-- Contact Section -->
<section id="contact" class="container-fluid content-section text-center">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
            <h2>Contact Me</h2>
            <p><a href="mailto:r48patel@gmail.com">r48patel@gmail.com</a>
            </p>
            <ul class="list-inline banner-social-buttons">
                <li>
                    <a href="https://twitter.com/r48patel" class="btn btn-default btn-lg"><i class="fa fa-twitter fa-fw"></i> <span class="network-name">Twitter</span></a>
                </li>
                <li>
                    <a href="https://github.com/r48patel" class="btn btn-default btn-lg"><i class="fa fa-github fa-fw"></i> <span class="network-name">Github</span></a>
                </li>
                <li>
                    <a href="https://plus.google.com/106835470822889106153/posts" class="btn btn-default btn-lg"><i class="fa fa-google-plus fa-fw"></i> <span class="network-name">Google+</span></a>
                </li>
            </ul>
        </div>
    </div>
</section>

<!-- Footer -->
<footer>
    <hr>
    <div class="container text-center">
        <p class="footer-paragraph">Copyright &copy; Ravi Patel 2015</p>
    </div>
</footer>
