<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
	    <meta http-equiv="X-UA-Compatible" content="IE=edge">
	    <meta name="viewport" content="width=device-width, initial-scale=1">
	    <meta name="description" content="">
	    <meta name="author" content="">
	    <link rel="shortcut icon" href= <%= asset_path( 'favicon.ico' ) %> >
	  	<title>Pictures</title>
	  	<link href="/assets/pictures.css.scss" rel="stylesheet">
  	    <link href="/assets/grayscale.css" rel="stylesheet">

	</head>
	<body id="page" data-spy="scroll" data-target=".navbar-fixed-top">
		<nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
		    <div class="container">
		        <div class="navbar-header">
		            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
		                <i class="fa fa-bars"></i>
		            </button>
		            <a class="navbar-brand page-scroll" href= "/home">
                    	<i class="fa fa-home"></i>  <span class="light">Home</span>
                	</a>
		        </div>
		        <!-- /.navbar-collapse -->
		    </div>
		    <!-- /.container -->
		</nav>
		<!-- Intro Header -->
		<header class="intro-pictures">
		    <div class="intro-body">
		        <div class="container">
		            <div class="row">
		                <div class="col-md-8 col-md-offset-2">
		                    <h1>A Greeting for You!</h1>
							<p>Hi, how are you doing? <br>This page will be operational shortly!</p>
		                </div>
		            </div>
		        </div>
		    </div>
		</header>		
		<%= render :partial => "austin" %>
		<%= render :partial => "niagara" %>

		<!-- Footer -->
		<footer>
			<hr>
		    <div class="container text-center">
		        <p class='footer-paragraph'>If you want to use any of my picture, feel free to contact me for them.</p>
		        <p class="footer-paragraph">Copyright &copy; Ravi Patel 2015</p>
		    </div>
		</footer>
	</body>
</html>